.modalWrapper {
    background: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
    border-radius: 16px;
    box-shadow: linear-gradient(
        to right,
        #108ff0 0%,
        #414bbe 51%,
        #71138e 100%
      );
    display: flex;
    flex-direction: column;
  }

  .closeBtn {
    position: absolute;
    cursor: pointer;
    font-weight: 500;
    margin: 16px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    transition: all 0.25s ease;
    align-self: flex-end;
    background: none;
  }
  
  .closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  }

  .content {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 100%;
    justify-content: center;
  }

.content span {
  font-size: 16px;
}

